@import 'src/styles/_vars';

#footer {
  width: 100%;
  background-color: $footer-bg;
  padding: 1em 0;
}

.footer-language {

  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  
  & img {
    padding: 0 10px;
    width: 70px;
    height: 35px;
    border-radius: 30%;
    opacity: .775;
    transition: opacity .2s;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
} 

.footer-text {
  text-align: center;
  color: white;
  padding: .2em;
  color: rgb(255, 255, 255);
}
